.home-welcome {
    display: flex;
    padding: 0 4rem;
    margin: 0% auto;
    gap: 4rem;
    flex-wrap: wrap-reverse;
    align-items: center;
    min-height: calc(100vh - 93.6px);
    margin-top: 7rem;
    background-color: #f6f6f6;

    .left-side {
        width: auto;
        img {
            max-width: 100%;
            object-fit: cover;
            filter: contrast(100%);
        }
    }

    .right-side {
        margin: 0 auto;
        h1 {
            font-size: 2rem;
            font-weight: 700;
            margin: 32px 0;
            span {
                color: $main-red;
            }
        }
        p {
            font-weight: 500;
            span {
                color: $main-red;
            }
        }
    }
}

.home-welcome > * {
    flex: 1 1 25em;
}

@media only screen and (max-width: 1013px) {
    .home-welcome {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .right-side {
            h1 {
                text-align: left;
                font-size: 1.8rem;
            }
        }
    }
    .home-welcome > * {
        flex: 1 1 20em;
    }
}
@media only screen and (max-width: 600px) {
    .home-welcome {
        gap: 0.5rem;
        .right-side {
            h1 {
                text-align: left;
                font-size: 1.6rem;
            }
        }
    }
    .home-welcome > * {
        flex: 1 1 19em;
    }
}
@media only screen and (max-width: 425px) {
    .home-welcome {
        gap: 0.5rem;
        .right-side {
            h1 {
                text-align: left;
                font-size: 1.4rem;
            }
        }
    }
    .home-welcome > * {
        flex: 1 1 10em;
    }
}
@media only screen and (max-width: 347px) {
    .home-welcome {
        gap: 0.5rem;
        .right-side {
            h1 {
                text-align: left;
                font-size: 1.3rem;
            }
        }
    }
    .home-welcome > * {
        flex: 1 1 9em;
    }
}
@media only screen and (max-width: 327px) {
    .home-welcome {
        gap: 0.5rem;
        .right-side {
            h1 {
                text-align: left;
                font-size: 1.3rem;
            }
        }
    }
    .home-welcome > * {
        flex: 1 1 8em;
    }
}
@media only screen and (max-width: 300px) {
    .home-welcome {
        gap: 0.5rem;
        .right-side {
            h1 {
                text-align: left;
                font-size: 1.2rem;
            }
        }
    }
    .home-welcome > * {
        flex: 1 1 7em;
    }
}
