.linkActive {
    color: $main-black;
    font-weight: 800;
    text-decoration: underline;
}

.custom-btn {
    padding: 0.8rem 2rem;
    cursor: pointer;
    border-radius: 0.2rem;
    background-color: #ff464f;
    color: whitesmoke;
    margin-top: 0.5rem;
    display: inline-block;
    text-decoration: none;
    box-shadow: $main-shadow;
    &:hover{
        color: whitesmoke;
        box-shadow: $main-shadow;
    }
}
