$main-red: #ec323b;
$main-orange: #ff8a34;
$main-yellow: #ffbc25;
$main-green: #27a770;
$main-blue: #0068d8;
$main-violet: #6952dc;
$main-black: #1f2e35;
$main-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
